.checkoutBlock {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0px;
}

.totalPrice {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.ingredients {
    max-height: 464px;
    overflow-y: auto;
}

.checkoutButton {
    height: 36px;
    width: 36px;
}

.BurgerConstructorItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}