.title {
    font-family: JetBrains Mono;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 40px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
}

.productImage {
    width: 240px;
    height: 120px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.constructorContent {
    height: 756px;
    width: 600px;
    overflow-y: auto;
}